<div class="navbar">
  <nav>
    <ul>
      <li><%= link_to "Welcome", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Nice One", contact_path %></li>
    </ul>
  </nav>
</div>

<section class="center">
  <div>
    <h1>Hello</h1>
  </div>

</section>

<section>
  <div class="graph">
    <div class="header">

    </div>

    <div class="content">
      <h5>Sexy graph</h5>
        <div class="ct-chart size">

        </div>
    </div>
  </div>

  <div clas="spiral">
    <div class="contentLeft">

    </div>

    <div class="contentRight">
      <h1>Over sexy spiral</h1>
    </div>

  </div>

  <div class="resume">
    <div class="contentBottomRight">

    </div>

    <div class="contentBottomLeft">

    </div>

  </div>


</section>

<footer>
 <a href="" class="footer"><i class="fa fa-twitter fa-4x"></i></a>
 <a href="" class="footer"><i class="fa fa-linkedin fa-4x"></i></a>
 <a href="" class="footer"><i class="fa fa-github fa-4x"></i></a>
</footer>


<script type="text/javascript">

  new Chartist.Pie('.ct-chart', {
  series: [20, 10, 30, 40]
}, {

  donut: true,
  donutWidth: 25,
  chartPadding: 10,
  labelOffset: 30,
  labelDirection: 'explode'
});



</script>

