// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  text-align:center;
  font-family:Aleo;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  font-size:60px;
  color:#fff;
}

.center{
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.header{
  float:left;
  width:40%;
  background:#43484e;
  height:520px;
  border-radius:450px;
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.8);

}

.content{
  float:right;
  width:60%;
  height:520px;
}

.contentRight{
  float:right;
  width:40%;
  background:#C3270D;
  height:520px;
}
