// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  text-align:center;
}

.center{
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.header{
  float:right;
  width:40%;

}

.content{
  float:left;
  width:60%;
}
